# Ignore the Unity-specific directories
[Ll]ibrary/
[Tt]emp/
[Bb]in/
# Ignore build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
# Ignore user-specific files
*.user
*.userprefs
*.suo
*.vspscc
# Ignore logs
*.log
UnoOnline/.vs/UnoOnline/FileContentIndex/8be39edb-c0ba-47cd-83a1-cd621880ae9d.vsidx
