# Ignore the Unity-specific directories
[Ll]ibrary/
[Tt]emp/
[Bb]in/
# Ignore build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
# Ignore user-specific files
*.user
*.userprefs
*.suo
*.vspscc
# Ignore logs
*.log
